<!DOCTYPE html>
<head>
	<title>Search events</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/events.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/932f8a40c9.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class="events-container">
		<nav>
			<div>
				<img src="../img/logo_title.svg" >
			</div>
			<div>
				<i class="fa-regular fa-calendar-plus"></i>
				<a href=add_event.html class=nav-button>Add event</a>
			</div>
			<div class=selected>
				<i class="fa-solid fa-calendar-days"></i>
				<a href=my_events.html class=nav-button>My events</a>
			</div>
			<div>
				<i class="fa-sharp fa-solid fa-magnifying-glass"></i>
				<a href=search_event.html class=nav-button>Search events</a>
			</div>
			<div>
				<i class="fa-solid fa-right-from-bracket"></i> 
				<a href=login.html class=nav-button>Logout</a>
			</div>
		</nav>
		<main>
			<section class="events">
				<div>event 1</div>
				<div>event 2</div>
				<div>event 3</div>
				<div>event 4</div>
			</section>
		</main>
	</div>
</body>
