<!DOCTYPE html>
<head>
	<title>Register</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="logo">
			<img src="../../img/logo_title.svg" >
		</div>
		<div class="register-container">
			<form>
				<input name="name" type="text" placeholder="name">
				<input name="phone-number" type="text" placeholder="phone number">
				<input name="email" type="email" placeholder="email@example.com">
				<input name="password" type="password" placeholder="password">
				<input name="password" type="password" placeholder="repeat password">
				<button id="register">Register</button>
				<button type="button" onclick="location.href='login.html';" id="login">Login</button>
			</form>
		</div>
	</div>
</body>
