.events-container {
	background: linear-gradient(180deg, #FF3D00 0%, #411000 74.53%, #000000 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100vh;
	font-size: 1.5em;
}

.add-event-container {
	width: 50%;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 5vh;
	/* background-color: grey; */
	background: rgba(0,0,0,0.4);
	border-bottom: 2px solid black;
	font-family: 'Inter', sans-serif;
	font-weight: bold;
}

main, .add-event-container{
	height: 95vh;
}

nav > div > img {
	max-width: 22%;
	margin: auto auto;
}

a {
	text-decoration: none;
	display: inline-block;
	color: black;
}

div > i {
	padding 1em;
	font-size: 1.5em;
}

nav > div {
	width: 80%;
	text-align: center;
	vertical-align: middle;
}

.selected, .selected > a {
	color: white;
}

