body {
	margin: 0;
}

.container {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(180deg, #FF3D00 0%, #411000 74.53%, #000000 100%);

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.logo {
	width: 50%;
	height: auto;
	text-align: center;
	margin: 2em;
}


.login-container, .register-container{
	width: 50%;
}

.file {
	opacity: 0;
	width: 0.1px;
	height: 0.1px;
	position: absolute;
}

.popup {
        display: inline-block;
	position: fixed;
	top: 5vh;
	min-width: 40vh;
	height: 5vh;

	line-height: 5vh;
	font-family: 'Inter', sans-serif;
	text-align: center;
	
	background-color: rgba(217, 217, 217, 0.8);
	border: 3px solid #00D1FF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 45px;
	padding: 1vh;
}

.popup:empty {
	display:none;
}

img {
	max-width: 100%;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

button {
	width: 45%;
	background: radial-gradient(138.31% 1928.54% at 50.17% 50.63%, #000000 0%, rgba(2, 2, 2, 0) 100%);
	border: none;
	border-radius: 20px;

	margin: 1em;

	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 120%;
	line-height: 3em;
	text-align: center;
	letter-spacing: 0.3em;

	color: #FFFFFF;
}

.event-buttons-container {
	display: flex;
	flex-direction: row;  
	width:13em;
}

.register-button {
	color: #FF3D00;
}

input, .file-input {
	width: 45%;
	border: none;
	border-radius: 20px;
	margin: 1em;

	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 120%;
	background-color: #FFFFFF;
	color: #878787;
	line-height: 3em;
	text-align: center;
	letter-spacing: 0.3em;
}

input:focus {
	color: #000000;
}

@media only screen and (max-device-width: 440px) {
	.container{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	* {
		font-size: 120%;
	}

	.logo {
		width: 30%;
		height: 25%;
	}

	.login-container, .register-container {
		width: 50%;
	}

	form {
		margin: auto;
	}

	input, button, .file-input{
		width: 180%;
		margin: 0.5em;
	}
}

@keyframes fade-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
